* {
    margin: 0;
    padding: 0;


}
/* Light 300 */
@font-face {
    font-family: 'Open-Sans';
    src: url('./fonts/OpenSans-Light.eot');
    src: url('./fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/OpenSans-Light.woff') format('woff'),
    url('./fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Regular 400 */
@font-face {
    font-family: 'Open-Sans';
    src: url('./fonts/OpenSans-Regular.eot');
    src: url('./fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/OpenSans-Regular.woff') format('woff'),
    url('./fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* Bold 700 */
@font-face {
    font-family: 'Open-Sans';
    src: url('./fonts/OpenSans-Bold.eot');
    src: url('./fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/OpenSans-Bold.woff') format('woff'),
    url('./fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'Open-Sans';
    box-sizing: border-box;

    overflow-x: hidden;

}

.sec_1{
    background-image: url('./images/desc/back-desktop1.png');
    background-size: cover;
    background-position: center;
    /* width: 100vw; */
    height: 853px;

    position: relative;
}


header {
    height: 110px;

    background-color: #0000004d;
    color: white;

    display: flex;
    justify-content: space-between;
}

.logo {
    margin-top: 27px;
    margin-left: 130px;
}

.navs {
    display: flex;
    gap: 78px;

    padding: 48px 0;
    margin-right: 130px;

    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
}

.nav__active {
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 32px;
}

.look-at {
    width: 300px;
    height: 500px;

    /* background-color: rgba(148, 40, 40, 0.6); */

    margin-top: 114px;
    margin-left: 130px;
}

.look-at__text {
    color: white;
    font-family: 'Open-Sans';
    font-size: 50px;
    font-weight: 300;
    text-align: center;

    margin-bottom: 51px;
}

.download {
    height: 56px;
    text-align: center;
    color: white;
    font-size: 21px;
    
    border: 3px solid #FFF;
    border-radius: 29px;

    line-height: 50px;
    margin-bottom: 67px;
}

.It3icons {
    display: flex;
    justify-content: center;
}
.It3icons__1 {
    margin-right: 34px;
}
.It3icons__2 {
    margin-right: 37px;
}

.dostup {
    margin-top: 61px;

    color: white;
    font-size: 18px;
    font-weight: 300;

    text-align: center;
}

.hand img {
    position: absolute;
    width: 1050px;

    right: 0px;
    bottom: 0;
}


.sec_2 {
    position: relative;
}

.ustali {
    margin: 77px auto 72px;

    width: 780px;
    height: 174px;
    line-height: calc(174px / 3);

    color: #283645;
    text-align: center;
    font-weight: 300;
    font-size: 50px;
}

.grey_back {
    position: absolute;
    top: 240px;
    z-index: -1;
}

.triangle_grey {
    width: auto;
	height: 0px;

	border-bottom: 100px solid #F2F2F2;
	border-left: 100vw solid transparent;;
}

.cub_grey {
    width: auto;
    height: 985px;
    background-color: rgb(230, 105, 105);
    background-color: #F2F2F2;
}

.phones {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.phones__item img{
    width: 300px;
}

.phones__text {
    width: 240px;
    font-size: 30px;
    text-align: center;

    margin: 0 auto;
    position: relative;
    top: -117px;
}
.phenes__p {
    position: relative;
    top: -95px;
    margin: 0 auto;

    width: 247px;
    font-size: 18px;
    font-weight: 400;

    text-align: center;
}

.effect {
    display: flex;
    gap: 71px;

    padding-bottom: 67px;
}

.timer {
    position: relative;
}

.timer img {
    margin-left: 130px;
    width: 298px;
}

.timer_24 {
    position: absolute;

    color: #D22856;
    font-size: 120px;
    font-weight: 700;
    top: 109px;
    right: 80px;

}

.effect__texts {
    width: 530px;

    margin-right: 130px;
    margin-top: 90px;
}

.effect__texts h2 {
    color: #000;
    font-weight: 700;
    font-size: 30px;

    margin-bottom: 37px;
}

.effect__p {
    color: #283645;
    font-weight: 400;
    font-size: 18px;

    margin-bottom: 47px;
}

.effect__link {
    color: #D22856;
    font-size: 18px;
    text-decoration-line: underline;
}


.quotes {
    display: flex;
    justify-content: center;
    margin-top: 72px;

    margin-bottom: 58px;
}

.citata-block {
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0 130px;
}

.arrows {
    width: 22px;
    position: relative;
    top: 20px;
}

.citata__text {
    width: 688px;
    color: #283645;
    text-align: center;
    font-size: 18px;

    margin-bottom: 50px;
}

.citata__autor {
    color: #000;
    text-align: center;
    font-weight: 700;
    font-size: 24px;

    margin-bottom: 17px;
}

.citata__age {
    color: #283645;
    text-align: center;
    font-size: 18px;
}

.sec_4 {
    position: relative;
    height: 534px;
}

.grey_back2 {
    position: absolute;
    top: 0px;
    z-index: -1;
}

.triangle_grey2 {
    width: auto;
	height: 0px;

	border-bottom: 100px solid #F2F2F2;
	border-left: 100vw solid transparent;
}

.cub_grey2 {
    width: auto;
    height: 434px;
    background-color: rgb(230, 105, 105);
    background-color: #F2F2F2;
}

.block-table{
    padding-top: 161px;
    width: 940px;
    margin: 0 auto;
}

.table {
    display: grid;
    grid-template-columns: 234px 233px 234px 233px;
    gap: 5px;
    
    /* background-color: #dbdf1c50; */
}

.table__item {
    width: auto;
    height: 59px;

    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table__item1 {
    grid-column: 2 / 3;
}

.table__item_top {
    height: auto;
    position: relative;
    background: #283645;

    display: flex;
    flex-direction: column;
}

.table__item_top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 74px;
}

.top_tarif {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;

    line-height: 13px;

    margin-top: 23px;
    margin-bottom: 20px;
}

.top_price {
    color: #FFF;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    line-height: 13px;
    text-transform: uppercase;

    margin-bottom: 25px;
}

.table__item_left {
    display: flex;
    justify-content: start;

    padding-left: 22px;

    color: #283645;
    font-size: 18px;
    font-weight: 400;
}

.quests {
    margin: 74px auto;
    width: 462px;
    color: #283645;
    text-align: center;
    font-size: 50px;
    font-weight: 300;

    margin-bottom: 61px;
}
.contacts {
    display: flex;
    gap: 110px;
    justify-content: center;
}

.contacts__item {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contacts__item h3 {
    color: #283645;
    font-size: 18px;
    font-weight: 700;

    margin-bottom: 34px;
}

.contacts__item p {
    color: #D22856;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
}

.sec_6 {
    position: relative;
}

.map img {
    width: 100vw;
    height: auto;
}

.triangle_map {
    position: absolute;

    border: 50vw solid transparent;
    border-bottom: 0;
    border-top: 100px solid rgb(255, 255, 255);
}

footer {
    width: auto;
    height: 197px;

    display: flex;
    justify-content: space-between;
}

.logo2 {
    width: 147;
    margin-top: 74px;
    margin-left: 130px;
}

.smm img {
    width: 48px;
    margin-top: 74px;
}

.develop {
    display: flex;
    gap: 13px;

    color: #283645;
    font-size: 18px;
    font-weight: 400;
    flex-direction: row;

    margin-right: 130px;
}

.develop img {
    width: 27px;
    height: 34px;

    margin-top: 81px;
}

.develop p {
    margin-top: 90px;
    line-height: 13px;
}